<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ozer.duyurupanosu">

    <application
        android:name="com.ozer.duyurupanosu.ApplicationPano"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Duyuru Panosu"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ozer.duyurupanosu.ActivityMain"
            android:label="Duyuru Panosu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ozer.duyurupanosu.ActivityDuyuruEkle"
            android:label="Yeni Duyuru"
            android:parentActivityName="com.ozer.duyurupanosu.ActivityIcerikler" />

        <activity
            android:name="com.ozer.duyurupanosu.ActivityIcerikler"
            android:label="Son Duyurular"
            android:parentActivityName="com.ozer.duyurupanosu.ActivityMain" />

        <activity
            android:name="com.ozer.duyurupanosu.ActivityRegister"
            android:label="Yeni Kişi Ekle"
            android:parentActivityName="com.ozer.duyurupanosu.ActivityMain" />
        <activity
            android:name="com.ozer.duyurupanosu.ActivityAboutme"
            android:label="İletişim"
            android:parentActivityName="com.ozer.duyurupanosu.ActivityMain" />
        <activity
            android:name="com.ozer.duyurupanosu.ActivityForgot"
            android:label="Parolamı Unuttum?"
            android:parentActivityName="com.ozer.duyurupanosu.ActivityMain" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
